<ion-header-bar>
  <button class="button button-icon icon ion-home" ng-click="home()"></button>
  <h1 class="title">Weather</h1>
  <button class="button button-clear button-positive" ng-click="logout()">Logout</button>
</div>
</ion-header-bar>
<ion-content padding="true">
   <div>
        Hiiii Shanmuk, <label><b>{{username1}}</b></label>
    </div>
    <div style="position:absolute;left:100px;top:400px;">
        Admin, <label><b>{{firstname}}</b></label> <b>{{lastname}}</b>
    </div>
<div>
  <table>

    <tr>
      <td>
        <img >
      </td>

    </tr>
    <br><br>
    <tr>
      <td>
        <img src="">
      </td>
      <br><br>


    </tr>
  </table>

    </div>
</ion-content>

